/*! Bootstrap `Default` https://getbootstrap.com/docs/4.6 */

@use 'sass:map';


///==========================================
///   Theme variable overrides
///==========================================

@import "./abstract";

// Colors
$primary: #005a9a;
$secondary: $blue;

$theme-colors: map.merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
  )
);


///==========================================
///   Custom styles specific to the theme
///==========================================

@import './_base';

// Rectify "secondary" button tonal contrast
.btn-secondary,
.btn-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: $white;
}

// Alter <b-alert> light variant for better contrast
.alert.alert-light {
  border-color: $gray-150;
  color: $gray-600;
}
