/*! Bootstrap `Default` https://getbootstrap.com/docs/4.6 */


// Bootstrap pre-requiring
//------------------------

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';


// Project pre-requiring
//----------------------

// (?) Normally "abstract" and "modules" have to be MANUALLY IMPORTED each
//     times their content is being used
//
//     However, with Bootstrap non "@use" API-ready, and multiple themes
//     management, we have to stick the old "@import"
//
//     It also implies that, if tomorrow, transition to "@import" to "@use" API
//     has to be made, every manual import must be included (eg. by checking
//     the `modules/form` file, and check where its mixin `inputError` has been
//     being used
@import '../_abstract';
@import '../_modules';


// Theme variable overrides
//-------------------------

// Colors
$primary: #005a9a;
$secondary: $blue;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

// Add more shades to gray
$gray-150: #FAFAFA;
$gray-175: #F0F0F0;

// Layout
$form-group-margin-bottom: space-x(3);


// (importing Bootstrap)
@import '../../../node_modules/bootstrap/scss/bootstrap';


// Project sheets
//---------------

@import '../_components';
@import '../_base';
@import '../_legacy';


// Custom rules specific to the theme
//-----------------------------------

// Rectify "secondary" button tonal contrast
.btn-secondary,
.btn-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: $white;
}

// Alter <b-alert> light variant for better contrast
.alert.alert-light {
  border-color: $gray-150;
  color: $gray-600;
}
