// Most simple reset ever found
// @link https://meiert.com/en/blog/stop-using-resets/#comment-240548
html{
  box-sizing: border-box;
  height: 100%
}

*,
:after,
:before{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit
}

::-moz-focus-inner{
  border: 0;
}

body{
  position:relative;
}

a{
  text-decoration: none;
  color: inherit
}

a:focus{
  outline: 0;
}

ul{
  list-style:none;
}
