// add more weight to Bootstrap header rules
h4, h5, h6 {
  font-weight: bold;
}

/// #"_hover.scss"
a:hover {
  color: inherit;
}

/// from "_reboot.scss"
body {
  margin: 0;
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

/// from "_reboot.scss"
pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
}

/// For this project: underline every links
/// (legacy choice)
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
