.cache-toggle
  cursor: pointer
.left-handed
  .side-panel
    //background-color: $dark
    left: 2%
    padding: 0.3em
    position: fixed
    top: 3.7em
    background-color: #fff
    width: 28%
    .header
      float: left
    .corpus-doc-view
      .annotated-field-wrapper
        .annotated-field-runs
          max-height: 200px
          overflow-y: scroll
      .list-group
        .list-group-item-heading
          display: inline-block
          width: 60px
.right-handed
  .side-panel
    //background-color: $dark
    left: 70%
    padding: 0.3em
    position: fixed
    top: 3.7em
    background-color: #fff
    width: 28%
    .header
      float: right
    .corpus-doc-view
      .annotated-field-wrapper
        .annotated-field-runs
          max-height: 200px
          overflow-y: scroll
      .list-group
        .list-group-item-heading
          display: inline-block
          width: 60px

.simple-layout
  height: 100%
  .license
    padding-top: 10px
  .spinner
    position: absolute
    left: 50%
    top: 50%

.table
  tr
    td
      color: #005a9aff
      .active
        font-weight: bold
        text-decoration: underline
      .ngrams-selector
        display: flex
        .ngrams-chooser
          padding: 3px
      .trash
        text-decoration: line-through

.action-search
  margin: 10px

.context-menu
  position: fixed

.search-bar
  margin: 10px

/* */
.body
  ul
    li
      color: #005a9aff
    .nav
      color: #005a9aff

.btn-primary
  color: white
  background-color: #005a9aff
  border-color: black


ul
  .nav
    color: #005a9aff
  li
    color: #005a9aff

.frame
  height: 100vh
  iframe
    border: 0

.join-button
  padding-bottom: 100px
  padding-top: 100px
