#page-wrapper
  .cache-toggle
    cursor: pointer
  .side-panel
    background-color: white
    left: 70%
    padding: 5px
    position: fixed
    top: 60px
    width: 28%
    .header
      float: right
    .corpus-doc-view
      .annotated-field-wrapper
        .annotated-field-runs
          max-height: 200px
          overflow-y: scroll
      .list-group
        .list-group-item-heading
          display: inline-block
          width: 60px

.simple-layout
  height: 100%
  .spinner
    position: absolute
    left: 50%
    top: 50%

.table
  tr
    td
      color: #005a9aff
      .active
        font-weight: bold
        text-decoration: underline
      .ngrams-selector
        display: flex
        .ngrams-chooser
          padding: 3px
      .trash
        text-decoration: line-through

.action-search
  margin: 10px

.context-menu
  position: fixed

.search-bar
  margin: 10px

/* */
.body
  ul
    li
      color: #005a9aff
    .nav
      color: #005a9aff

.btn-primary
  color: white
  background-color: #005a9aff
  border-color: black


ul
  .nav
    color: #005a9aff
  li
    color: #005a9aff
