/// Global spacing value
$space-unit: 8px;

/// Misc
$overlay-radius: 5px;

/// Z-Index Management
/// @link https://medium.com/alistapart/sassier-z-index-management-for-complex-layouts-4540717a9488
$z-indexes: (
  main: (
  ),
  forest-layout: (
    "teaser",
  ),
  phylo-layout: (
    "sidebar",
    "spinner",
  ),
  graph-layout: (
    "toolbar",
    "sidebar",
  ),
);
